---
layout: base
---

<main class="mt-16 mx-auto max-w-6xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
    <img src="/manager.svg" class="h-76 w-auto mx-auto my-16"/>
    <div class="text-center mx-auto mt-32">
        <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">Reduce startup time and training costs</p>
        <ul class="list-none text-gray-500 mt-8">
            <li class="my-2">
               Built on best-practices
            </li>
            <li class="my-2">
               and well-known components
             </li>
        </ul>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-5 my-8 max-w-2xl mx-auto">
        <div class="text-center">
            <img class="h-16 inline-block" src="https://raw.githubusercontent.com/gimlet-io/gimlet-stack-reference/main/assets/nginx.png" alt="Nginx" />
        </div>
        <div class="text-center">
            <img class="h-16 inline-block" src="https://raw.githubusercontent.com/gimlet-io/gimlet-stack-reference/main/assets/certManager.png" alt="Cert Manager" />
        </div>
        <div class="text-center">
            <img class="h-16 inline-block" src="https://raw.githubusercontent.com/gimlet-io/gimlet-stack-reference/e4430ccda687880806c77e7efee456293d1a51e2/assets/prometheus.svg" alt="Prometheus" /></div>
        <div class="text-center">
            <img class="h-16 inline-block" src="https://grafana.com/static/img/menu/grafana2.svg" alt="Grafana" />
        </div>
        <div class="text-center">
            <img class="h-16 inline-block" src="https://raw.githubusercontent.com/gimlet-io/gimlet-stack-reference/main/assets/kyverno.png" alt="Kyverno" />
        </div>
    </div>
    <div class="text-center mx-auto mt-16">
        <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">Ease your hiring pain</p>
        <ul class="list-none text-gray-500 mt-8">
            <li class="my-2">
                Devops skillset is in high demand
            </li>
            <li class="my-2">
                The Puppet State of DevOps Report 2021 indicates that many organization stuck in the middle with their Devops efforts
            </li>
            <li class="my-2">
                With skills shortage being one of the major contributing factor
            </li>
        </ul>
    </div>
    <div class="text-center mx-auto mt-16">
        <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">K8s is about optionality, but it has a toll</p>
        <ul class="list-none text-gray-500 mt-8">
            <li class="my-2">
                The Puppet State of DevOps Report 2021 states that 65% of their mid and high performers have teams responsible for maintaining internal self-service platforms
            </li>
        </ul>
    </div>
    <div class="text-center mx-auto mt-16">
        <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">Benefit from a paved-path</p>
            <ul class="list-none text-gray-500 mt-8">
                <li class="my-2">
                    Gimlet is built on standard tooling
                </li>
                <li class="my-2">
                    that could aid your forming platform team
                </li>
                <li class="my-2">
                    or your devops minded developers - postponing the need for a platform team altogether
                </li>
            </ul>
    </div>
    <img src="/yoga.svg" class="h-76 w-auto mx-auto my-32"/>
    <div class="text-center my-16 mb-32">
        <a class="font-semibold text-gray-500 text-sm" href="https://docs.gimlet.io">Get me to the DOCUMENTATION</a>
    </div>


</main>
