---
layout: base
---

<main class="mt-16 mx-auto max-w-6xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
    <img src="/developer.svg" class="h-56 w-auto mx-auto my-16"/>
    <div class="text-center mx-auto">
        <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">Configure your services without the
            boilerplate</p>
        <ul class="list-none text-gray-500 mt-8">
            <li class="my-2">
                In your application git repo
            </li>
            <li class="my-2">
                With little to no Helm knowledge
            </li>
            <li class="my-2">
                Skip the repeating parts
            </li>
            <li class="my-2">
                ..you would just copy it around from project to project anyways
            </li>
        </ul>
        <img src="/without-boilerplate.svg" class="max-w-2xl mx-auto mt-4"/>
    </div>
    <div class="text-center mx-auto mt-16">
        <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">Deploy..</p>
        <img src="/deploy.gif" class="max-w-4xl mx-auto my-32"/>
    </div>
    <div class="text-center mx-auto mt-16">
        <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">..and roll back with one click</p>
        <img src="/rollback.gif" class="max-w-4xl mx-auto my-32"/>
    </div>
    <img src="/painting.svg" class="h-56 w-auto mx-auto my-32"/>
    <div class="text-center mx-auto mt-16">
        <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">Navigate a realtime view of git and Kubernetes resources</p>
        <img src="/nav.gif" class="max-w-4xl mx-auto my-32"/>
    </div>
    <img src="/plant2.svg" class="h-56 w-auto mx-auto my-32"/>
    <div class="text-center mx-auto mt-16">
        <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">Preview your branches</p>
        <ul class="list-none text-gray-500 mt-8">
            <li class="my-2">
                On a unique URL
            </li>
            <li class="my-2">
                With the help of variables in the application manifest
            </li>
        </ul>
        <img src="/preview-apps.svg" class="max-w-2xl mx-auto mt-4"/>
    </div>
    <img src="/thumbsup2.svg" class="h-56 w-auto mx-auto my-32"/>
    <div class="text-center my-16 mb-32">
        <a class="font-semibold text-gray-500 text-sm" href="https://docs.gimlet.io">Get me to the DOCUMENTATION</a>
    </div>


</main>
