---
layout: base
---

<main class="mt-16 mx-auto max-w-6xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
    <div class="text-center md:max-w-4xl mx-auto">
        <div class="content__container">
            <h1 class="mt-1 block text-6xl tracking-tight font-extrabold text-gray-700">
                Kubernetes made simpler

                <div class="overflow-hidden h-16 mt-4 max-w-lg mx-auto">
                    <div class="float-left">for</div>
                    <div class="content__container__list float-left text-green-500 ml-2">
                        <div class="content__container__list__item h-20 text-pink-400">cluster admins</div>
                        <div class="content__container__list__item h-20 text-orange-400">developers</div>
                        <div class="content__container__list__item h-20 text-pink-500">managers</div>
                    </div>
                </div>
            </h1>
        </div>
    </div>
    <img src="thumbsup.svg" class="h-32 w-auto mx-auto my-16"/>

    <div class="grid grid-cols-3 gap-4 p-4">
        <div class="items-center text-sm leading-4 font-medium shadow-sm text-white border-2 border-pink-400 bg-pink-400 cursor-pointer">
            <a href="/for-cluster-admins" class="block bg-gray-700 hover:transform hover:-rotate-2 p-4 text-center">
                <div>I'm a <span>Cluster Admin</span></div>
                <div class="py-4 italic font-mono">/ platform team member / Ops / SysOps /</div>
                <div class="font-bold">Tell me more!</div>
            </a>
        </div>
        <div class="block items-center text-sm leading-4 font-medium shadow-sm text-white border-2 border-orange-400 bg-orange-400 cursor-pointer">
            <a href="/for-developers" class="block bg-gray-700 hover:transform hover:-rotate-2 p-4 text-center">
                <div>I'm a <span>Developer</span></div>
                <div class="py-4 italic font-mono h-16">/ Tester /</div>
                <div class="font-bold">Tell me more!</div>
            </a>
        </div>
        <div class="items-center text-sm leading-4 font-medium shadow-sm text-white border-2 border-pink-500 bg-pink-500 cursor-pointer">
            <a href="/for-managers" class="block bg-gray-700 hover:transform hover:rotate-2 p-4 text-center">
                <div>I'm a <span>Manager</span></div>
                <div class="py-4 italic font-mono">/ Engineering Manager / Director / Product Manager /</div>
                <div class="font-bold">Tell me more!</div>
            </a>
        </div>
    </div>
    <div class="text-center my-8">
        <a class="font-semibold text-gray-500 text-sm" href="https://docs.gimlet.io">..just get me to the DOCUMENTATION</a>
    </div>
    </div>
</main>
