---
layout: base
---

<main class="mt-16 mx-auto max-w-6xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
    <div class="text-center md:max-w-4xl mx-auto">
        <div class="content__container">
            <h1 class="mt-1 block text-6xl tracking-tight font-extrabold text-gray-700">
                Kubernetes made simpler

                <div class="overflow-hidden h-16 mt-4 max-w-lg mx-auto">
                    <div class="float-left">for</div>
                    <div class="content__container__list float-left text-green-500 ml-2">
                        <div class="content__container__list__item h-20 text-pink-400">cluster admins</div>
                        <div class="content__container__list__item h-20 text-orange-400">developers</div>
                        <div class="content__container__list__item h-20 text-pink-500">managers</div>
                    </div>
                </div>
            </h1>
        </div>
    </div>

    <img src="thumbsup.svg" class="h-32 w-auto mx-auto my-16" />

    <div class="grid grid-cols-3 gap-4 p-4">
        <div
            class="items-center text-sm leading-4 font-medium shadow-sm text-white border-2 border-pink-400 bg-pink-400 cursor-pointer">
            <a href="/for-cluster-admins" class="block bg-gray-700 hover:transform hover:-rotate-2 p-4 text-center">
                <div>I'm a <span>Cluster Admin</span></div>
                <div class="py-4 italic font-mono">/ platform team member / Ops / SysOps /</div>
                <div class="font-bold">Tell me more!</div>
            </a>
        </div>
        <div
            class="block items-center text-sm leading-4 font-medium shadow-sm text-white border-2 border-orange-400 bg-orange-400 cursor-pointer">
            <a href="/for-developers" class="block bg-gray-700 hover:transform hover:-rotate-2 p-4 text-center">
                <div>I'm a <span>Developer</span></div>
                <div class="py-4 italic font-mono h-16">/ Tester /</div>
                <div class="font-bold">Tell me more!</div>
            </a>
        </div>
        <div
            class="items-center text-sm leading-4 font-medium shadow-sm text-white border-2 border-pink-500 bg-pink-500 cursor-pointer">
            <a href="/for-managers" class="block bg-gray-700 hover:transform hover:rotate-2 p-4 text-center">
                <div>I'm a <span>Manager</span></div>
                <div class="py-4 italic font-mono">/ Engineering Manager / Director / Product Manager /</div>
                <div class="font-bold">Tell me more!</div>
            </a>
        </div>
    </div>
    <div class="text-center my-4 text-sm font-mono">
        Gimlet powered more than 3000 application deploys last month
    </div>
    <div class="text-center my-8">
        <a class="font-semibold text-gray-500 text-sm" href="https://docs.gimlet.io">..just get me to the
            DOCUMENTATION</a>
    </div>

    <img src="/plant.svg" class="h-16 w-auto mx-auto my-8"/>


    <div class="mt-16 mx-auto max-w-6xl px-4 sm:mt-24 sm:px-6 mt-16">
        <div class="text-center mx-auto mt-16">
            <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">Gimlet gets you an application platform on K8s</p>
            <ul class="list-none text-gray-500 mt-8">
                <li class="my-2">
                    When your Platform Team needs a boost
                </li>
                <li class="my-2">
                    or you have DevOps savvy developers but no dedicated Platform Team
                </li>
                <li class="my-2">
                    Plus, it's open-source
                </li>
            </ul>
        </div>
        <div class="text-center mx-auto"></div>
            <div class="text-center mx-auto mt-16">
                <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">Gimlet is GitOps</p>
                <ul class="list-none text-gray-500 mt-8">
                    <li class="my-2">
                        Uses Flux under the hood
                    </li>
                    <li class="my-2">
                        Tired of the term? <a class="font-semibold text-gray-500 text-sm ml-1 ribbon" href="https://docs.gimlet.io">..read our SANE Gitops Guide</a>
                    </li>
                </ul>
            </div>  
            <div class="text-center mx-auto mt-16">
                <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">Gimlet works with any Kubernetes cluster</p>
                <ul class="list-none text-gray-500 mt-8">
                    <li class="my-2">
                        In fact, Gimlet doesn't care what's bellow the K8s API
                    </li>
                    <li class="my-2">
                        So bring your own k8s cluster
                    </li>
                </ul>
            </div>

            <div class="text-center mx-auto mt-16">
                <p class="mt-2 text-4xl font-extrabold text-gray-800 max-w-4xl mx-auto">Gimlet builds on Helm</p>
                <ul class="list-none text-gray-500 mt-8">
                    <li class="my-2">
                        Don't worry, only the sane parts
                    </li>
                    <li class="my-2">
                        <a class="font-semibold text-gray-500 text-sm ribbon" href="https://docs.gimlet.io">..read our SANE Helm Guide</a>
                    </li>
                </ul>
            </div>

            <img src="/plant2.svg" class="h-16 w-auto mx-auto my-8"/>

            <div class="bg-indigo-200 bg-opacity-25 lg:my-32">
                <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
                    <div class="lg:grid lg:grid-cols-2 lg:gap-8">
                        <h2 class="max-w-md mx-auto text-3xl font-extrabold text-indigo-900 text-center lg:max-w-xl lg:text-left">
                            Trusted by successful growing SaaS businesses
                        </h2>
                        <div class="flow-root self-center mt-8 lg:mt-0">
                            <div class="-mt-4 -ml-8 flex flex-wrap justify-between lg:-ml-4 max-w-md">
                                <div class="mt-4 ml-8 flex flex-grow flex-shrink-0 justify-center lg:flex-grow-0 lg:ml-4">
                                    <img class="h-12" src="/twentythree_logo_pos_RGB.png" alt="TwentyThree">
                                </div>
                                <div class="mt-4 ml-8 flex flex-grow flex-shrink-0 justify-center lg:flex-grow-0 lg:ml-4">
                                    <img class="h-12" src="/raffle.svg" alt="raffle.ai">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>
</main>