---
title: Pricing
layout: base
---
<div class="bg-yellow-200 pt-8 sm:pt-10 md:pt-12 ">
    <div>
        <div class="max-w-screen-xl mx-auto text-center px-4 sm:px-6 lg:px-8">
            <div class="max-w-3xl mx-auto lg:max-w-none">
                <h2 class="text-lg leading-6 font-semibold text-teal-300 uppercase tracking-wider">
                    Pricing
                </h2>
                <p class="mt-2 text-3xl leading-9 font-extrabold text-gray-700 sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
                    You pay per deployed git repositories.
                </p>
            </div>
        </div>
    </div>
    <div class="mt-8 pb-12 bg-white sm:mt-12 sm:pb-16 lg:mt-16 lg:pb-24">
        <div class="relative">
            <div class="absolute inset-0 h-64 bg-yellow-200"></div>
            <div class="relative z-10 max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="max-w-md mx-auto lg:max-w-5xl lg:grid lg:grid-cols-3 lg:gap-5">
                    <div class="rounded-lg shadow-lg overflow-hidden">
                        <div class="px-6 py-8 bg-white sm:p-10 sm:pb-6">
                            <div>
                    <span class="inline-flex px-4 py-1 rounded-full text-sm leading-5 font-semibold tracking-wide uppercase bg-blue-100 text-blue-600">
                      Team
                    </span>
                            </div>
                            <div class="mt-4 flex items-baseline text-6xl leading-none font-extrabold">
                                $199
                                <span class="ml-1 text-2xl leading-8 font-medium text-gray-1000">
                      /mo
                    </span>
                            </div>
                        </div>
                        <div class="px-6 pt-6 pb-8 bg-gray-100 sm:p-10 sm:pt-6">
                            <ul>
                                <li class="flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        Zoom Onboarding
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        Up to 10 deployed git repositories
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        All features
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        Hosted
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        Email or Zoom support
                                    </p>
                                </li>
                            </ul>
                            <div class="mt-6 rounded-md shadow">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7nQrP89ij8M40jdr7ubV9yJ6hWRFp7EZzvDI27kKeESLEqQ/viewform?usp=sf_link" target="_blank" onclick="fathom.trackGoal('B5PGZD9N', 0);"
                                   class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teal-700 hover:bg-teal-800 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                    Start your free trial
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 rounded-lg shadow-lg overflow-hidden lg:mt-0">
                        <div class="px-6 py-8 bg-white sm:p-10 sm:pb-6">
                            <div>
                    <span class="inline-flex px-4 py-1 rounded-full text-sm leading-5 font-semibold tracking-wide uppercase bg-blue-100 text-blue-600">
                      Department
                    </span>
                            </div>
                            <div class="mt-4 flex items-baseline text-6xl leading-none font-extrabold">
                                $399
                                <span class="ml-1 text-2xl leading-8 font-medium text-gray-1000">
                      /mo
                    </span>
                            </div>
                        </div>
                        <div class="px-6 pt-6 pb-8 bg-gray-100 sm:p-10 sm:pt-6">
                            <ul>
                                <li class="flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        Zoom Onboarding
                                    </p>
                                </li>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        Up to <strong>100</strong> deployed git repositories
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        All features
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        Self-host or hosted
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        Email or Zoom support
                                    </p>
                                </li>
                            </ul>
                            <div class="mt-6 rounded-md shadow">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7nQrP89ij8M40jdr7ubV9yJ6hWRFp7EZzvDI27kKeESLEqQ/viewform?usp=sf_link" target="_blank" onclick="fathom.trackGoal('B5PGZD9N', 0);"
                                   class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teal-700 hover:bg-teal-800 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                    Start your free trial
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 rounded-lg shadow-lg overflow-hidden lg:mt-0">
                        <div class="px-6 py-8 bg-white sm:p-10 sm:pb-6">
                            <div>
                    <span class="inline-flex px-4 py-1 rounded-full text-sm leading-5 font-semibold tracking-wide uppercase bg-blue-100 text-blue-600">
                      Enterprise
                    </span>
                            </div>
                            <div class="mt-4 flex items-baseline text-6xl leading-none font-extrabold">
                                Get in touch
                                <span class="ml-1 text-2xl leading-8 font-medium text-gray-1000">
                      /mo
                    </span>
                            </div>
                        </div>
                        <div class="px-6 pt-6 pb-8 bg-gray-100 sm:p-10 sm:pt-6">
                            <ul>
                                <li class="flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        On-site onboarding in the EU
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        <strong>Unlimited</strong> deployed git repositories
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        All features
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        Self-host or hosted
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        Email or Zoom support
                                    </p>
                                </li>
                                <li class="mt-4 flex items-start">
                                    <div class="flex-shrink-0">
                                        <svg class="h-6 w-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                                        </svg>
                                    </div>
                                    <p class="ml-3 text-base leading-6 text-gray-700">
                                        Kubernetes best practices consultancy
                                    </p>
                                </li>
                            </ul>
                            <div class="mt-6 rounded-md shadow">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7nQrP89ij8M40jdr7ubV9yJ6hWRFp7EZzvDI27kKeESLEqQ/viewform?usp=sf_link" target="_blank" onclick="fathom.trackGoal('B5PGZD9N', 0);"
                                   class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teal-700 hover:bg-teal-800 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                    Start your free trial
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 lg:mt-5">
            <div class="max-w-md mx-auto lg:max-w-5xl">
                <div class="rounded-lg px-6 py-8 sm:p-10 lg:flex lg:items-center">
                    <div class="flex-1">
                        <div>
                  <span class="inline-flex bg-gray-100 px-4 py-1 rounded-full text-sm leading-5 font-semibold tracking-wide uppercase bg-white text-gray-800">
                    Yearly payment
                  </span>
                        </div>
                        <div class="mt-4 text-lg leading-7 text-gray-1000">
                            You get two months off if you pay yearly.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
