<!doctype html>
<html>

<head>
    <title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta content="{% if title %}{{ title }} | {% endif %}{{ site.title }}" property="og:title">
    <meta content="website" property="og:type">
    <meta content="{{ 'https://gimlet.io/'+image | default('logo-social2.png') }}" property="og:image">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    <meta content="Gimlet" property="og:site_name">
    <meta
        content="{{ excerpt | default('A modular GitOps workflow for Kubernetes deployments that grows with you. It\'s open-source.') }}"
        property="og:description">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@laszlocph">
    <meta name="twitter:creator" content="@laszlocph">
    <meta name="twitter:title" content="{% if title %}{{ title }} | {% endif %}{{ site.title }}">
    <meta name="twitter:description"
        content="{{ excerpt | default('A modular GitOps workflow for Kubernetes deployments that grows with you. It\'s open-source.') }}">
    <meta name="twitter:image" content="{{ 'https://gimlet.io/'+image | default('logo-social2.png') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    {% bundledCss %}

    <script defer src="https://unpkg.com/alpinejs@3.4.2/dist/cdn.min.js"></script>
</head>

<body class="font-sans bg-white">
    {% bundledJs %}
    <div class="relative mt-6 p-2">
        <nav class="block relative p-2 max-w-6xl mx-auto flex items-center justify-between" aria-label="Global">
            <a href="/"
                class="flex-grow items-center text-green-700 no-underline hover:no-underline font-bold text-xl lg:text-xl">
                <span class="sr-only">Gimlet</span>
                <svg class="h-8 sm:h-10 w-auto" xmlns:i="&amp;ns_ai;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" x="0" y="0" viewBox="0 750 2000 500"
                    style="enable-background:new 0 0 2000 2000" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #334154
                        }
                    </style>
                    <switch id="switch83">
                        <g i:extraneous="self" id="g81">
                            <g id="g79">
                                <g id="g18">
                                    <g id="g16">
                                        <path class="st0"
                                            d="M769.36 997.69h35.59v80.72c-10.42 8.29-22.57 14.66-36.46 19.1-13.89 4.43-28.16 6.65-42.82 6.65-20.64 0-39.25-4.49-55.84-13.46s-29.61-21.36-39.06-37.18c-9.45-15.81-14.18-33.66-14.18-53.53 0-19.87 4.72-37.71 14.18-53.53 9.45-15.81 22.52-28.21 39.2-37.18s35.44-13.46 56.27-13.46c16.97 0 32.4 2.8 46.29 8.39 13.89 5.6 25.56 13.79 35.01 24.59l-23.72 23.15c-15.43-15.43-34.05-23.15-55.84-23.15-14.28 0-26.96 2.99-38.05 8.97-11.09 5.98-19.77 14.37-26.04 25.17-6.27 10.8-9.4 23.15-9.4 37.03 0 13.5 3.13 25.65 9.4 36.46 6.27 10.8 14.95 19.29 26.04 25.46 11.09 6.18 23.68 9.26 37.76 9.26 15.81 0 29.7-3.47 41.66-10.42l.01-63.04z"
                                            id="path4" />
                                        <path class="st0" d="M897.82 898.73h37.61v202.53h-37.61V898.73z" id="path6" />
                                        <path class="st0"
                                            d="m1219.56 1101.27-.29-134.25-66.54 111.1h-16.79l-66.54-109.37v132.51h-35.87V898.73h30.96l80.43 134.25 78.99-134.25h30.96l.29 202.53h-35.6v.01z"
                                            id="path8" />
                                        <path class="st0"
                                            d="M1353.22 898.73h37.61v170.7h105.89v31.83h-143.51V898.73h.01z"
                                            id="path10" />
                                        <path class="st0"
                                            d="M1721.83 1069.73v31.54h-151.9V898.74h147.85v31.54h-110.24v52.66h97.8v30.96h-97.8v55.84l114.29-.01z"
                                            id="path12" />
                                        <path class="st0"
                                            d="M1848.26 930.56h-67.13v-31.83h171.86v31.83h-67.12v170.7h-37.61v-170.7z"
                                            id="path14" />
                                    </g>
                                </g>
                                <g id="g77">
                                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-437.617"
                                        y1="-3051.266" x2="1467.618" y2="-3051.266"
                                        gradientTransform="matrix(-.4018 0 0 .4018 515.508 2255.238)">
                                        <stop offset="0" style="stop-color:#fec53e" id="stop20" />
                                        <stop offset=".227" style="stop-color:#ff884e" id="stop22" />
                                        <stop offset=".454" style="stop-color:#fe5558" id="stop24" />
                                        <stop offset=".509" style="stop-color:#f5495f" id="stop26" />
                                        <stop offset=".61" style="stop-color:#ea3968" id="stop28" />
                                        <stop offset=".687" style="stop-color:#e6336b" id="stop30" />
                                        <stop offset=".825" style="stop-color:#d72d74" id="stop32" />
                                        <stop offset="1" style="stop-color:#be2283" id="stop34" />
                                    </linearGradient>
                                    <path id="polygon37" style="fill:url(#SVGID_1_)"
                                        d="M184.27 1030.66v50.56l124.19 71.7-2.09 1.21-53.4 30.82-53.39-30.82-53.39-30.83-53.39-30.82V907.52l.13-.07 16.36-9.44 36.9-21.31 5.5-3.17 168.98 97.55 1.01-1.75v-50.55l-169.99-98.14-45.8 26.44-42.4 24.48-16.36 9.45-.13.07v237.84l205.98 118.92 101.28-58.48 45.8-26.44-214.78-124.01z" />
                                    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-437.617"
                                        y1="-3273.018" x2="1467.618" y2="-3273.018"
                                        gradientTransform="matrix(-.4018 0 0 .4018 515.508 2255.238)">
                                        <stop offset="0" style="stop-color:#fec53e" id="stop39" />
                                        <stop offset=".227" style="stop-color:#ff884e" id="stop41" />
                                        <stop offset=".454" style="stop-color:#fe5558" id="stop43" />
                                        <stop offset=".509" style="stop-color:#f5495f" id="stop45" />
                                        <stop offset=".61" style="stop-color:#ea3968" id="stop47" />
                                        <stop offset=".687" style="stop-color:#e6336b" id="stop49" />
                                        <stop offset=".825" style="stop-color:#d72d74" id="stop51" />
                                        <stop offset="1" style="stop-color:#be2283" id="stop53" />
                                    </linearGradient>
                                    <path id="polygon56" style="fill:url(#SVGID_2_)"
                                        d="m359.76 876.7 53.39 30.82v184.16l45.8 26.44V881.08L252.97 762.16l-45.8 26.44 99.2 57.27z" />
                                    <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="-437.617"
                                        y1="-3124.038" x2="1467.618" y2="-3124.038"
                                        gradientTransform="matrix(-.4018 0 0 .4018 515.508 2255.238)">
                                        <stop offset="0" style="stop-color:#fec53e" id="stop58" />
                                        <stop offset=".227" style="stop-color:#ff884e" id="stop60" />
                                        <stop offset=".454" style="stop-color:#fe5558" id="stop62" />
                                        <stop offset=".509" style="stop-color:#f5495f" id="stop64" />
                                        <stop offset=".61" style="stop-color:#ea3968" id="stop66" />
                                        <stop offset=".687" style="stop-color:#e6336b" id="stop68" />
                                        <stop offset=".825" style="stop-color:#d72d74" id="stop70" />
                                        <stop offset="1" style="stop-color:#be2283" id="stop72" />
                                    </linearGradient>
                                    <path id="polygon75" style="fill:url(#SVGID_3_)"
                                        d="M184.27 933.89v52.89l137.41 79.33v-52.89z" />
                                </g>
                            </g>
                        </g>
                    </switch>
                </svg>
            </a>
            {% if '/docs/' not in page.url %}
            <a class="flex font-semibold text-gray-500 text-xs lg:text-sm ribbon" href="/docs"><span class="hidden md:block">..just get me to the</span>
                <span>DOCUMENTATION</span></a>
            {% endif %}
        </nav>

        {{ content | safe }}
    </div>

    <footer class="px-2 bg-white" aria-labelledby="footerHeading">
        <h2 id="footerHeading" class="sr-only">Footer</h2>
        <div class="max-w-6xl mx-auto px-2 py-8 lg:py-16">
            <div class="mt-8 md:flex md:items-center md:justify-between">
                <div class="flex space-x-2 md:space-x-6 md:order-2">
                    <a href="https://twitter.com/gimlet_io" class="text-gray-400 hover:text-gray-300">
                        <span class="sr-only">Twitter</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                        </svg>
                    </a>
                    <a href="https://github.com/gimlet-io/" class="text-gray-400 hover:text-gray-300">
                        <span class="sr-only">GitHub</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
                <p class="text-sm md:text-base text-gray-400 mt-8 md:mt-0 md:order-1">
                    Proudly made in 💙 Szeged, Hungary<br />
                    &copy; 2021 Laszlo Consulting Kft. All rights reserved.<br />
                    Want us to be your DevOps team? See our <a class="ribbon" href="/services">services.</a>
                </p>
            </div>
        </div>
    </footer>

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://rat.gimlet.io/script.js" site="TOOENNXR" defer></script>
    <!-- / Fathom -->

</body>

</html>