---
layout: base
---
<main class="mt-8 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6 lg:mt-16">
    <div class=" lg:flex">
        <div class="flex flex-col flex-initial lg:border-r lg:border-gray-200 pt-5 pb-4 bg-white overflow-y-auto max-w-xs">
            <div class="flex-grow flex flex-col">
                <nav class="flex-1 px-2 space-y-1 bg-white" aria-label="Sidebar">
                   <div class="mb-4 relative rounded-md shadow-sm mx-2">
                       <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                           <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                     d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                           </svg>
                       </div>
                       <input type="text" name="sesarch" id="search" onchange="search();"
                              class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md"
                              placeholder="Search...">
                   </div>

                    <div class="space-y-1">
                        <a href="https://github.com/gimlet-io/gimlet-cli"
                           class="flex group w-full flex items-center px-5 py-2 mb-4 text-sm font-medium rounded-md">
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                      clip-rule="evenodd"/>
                            </svg>
                            <span class="ml-2">gimlet-io/gimlet-cli</span>
                        </a>
                        <a href="/gimlet-cli/getting-started"
                           class="{% if '/getting-started' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center px-5 py-2 text-sm font-medium rounded-md">
                            Getting Started
                        </a>
                        <a href="/gimlet-cli/concepts"
                           class="{% if '/concepts' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center px-5 py-2 text-sm font-medium rounded-md">
                            Concepts
                        </a>
                    </div>

                    <div class="space-y-1">
                        <span class="bg-white text-gray-600 group w-full flex items-center px-5 py-2 text-sm font-medium rounded-md">
                            Guides
                        </span>
                        <div class="space-y-1">
                            <a href="/gimlet-cli/deploy-your-app-to-kubernetes-without-the-boilerplate"
                               class="{% if '/gimlet-cli/deploy-your-app-to-kubernetes-without-the-boilerplate' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                Deploy your app to Kubernetes without the boilerplate
                            </a>
                            <a href="/gimlet-cli/bootstrap-gitops-with-gimlet"
                               class="{% if '/gimlet-cli/bootstrap-gitops-with-gimlet' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                Bootstrap gitops with Gimlet
                            </a>
                            <a href="/gimlet-cli/manage-environments-with-gimlet-and-gitops"
                               class="{% if '/gimlet-cli/manage-environments-with-gimlet-and-gitops' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                Manage environments with Gimlet and gitops
                            </a>
                            <a href="/gimlet-cli/preview-environments-with-gimlet"
                               class="{% if '/gimlet-cli/preview-environments-with-gimlet' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                Preview environments with Gimlet
                            </a>
                            <a href="/gimlet-cli/manage-secrets-with-gimlet"
                               class="{% if '/gimlet-cli/manage-secrets-with-gimlet' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                Manage secrets with Gimlet
                            </a>
                            <a href="/gimlet-cli/scaling-gitops"
                               class="{% if '/gimlet-cli/scaling-gitops' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                Scaling gitops
                            </a>
                        </div>
                    </div>
                    <div class="space-y-1">
                        <span class="bg-white text-gray-600 group w-full flex items-center px-5 py-2 text-sm font-medium rounded-md">
                            Reference
                        </span>
                        <div class="space-y-1">
                            <a href="/gimlet-cli/chart-configure"
                               class="{% if '/gimlet-cli/chart-configure' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                chart configure
                            </a>
                            <a href="/gimlet-cli/gitops-bootstrap"
                               class="{% if '/gimlet-cli/gitops-bootstrap' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                gitops bootstrap
                            </a>
                            <a href="/gimlet-cli/gitops-write"
                               class="{% if '/gimlet-cli/gitops-write' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                gitops write
                            </a>
                            <a href="/gimlet-cli/gitops-delete"
                               class="{% if '/gimlet-cli/gitops-delete' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                gitops delete
                            </a>
                            <a href="/gimlet-cli/manifest-create"
                               class="{% if '/gimlet-cli/manifest-create' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                manifest create
                            </a>
                            <a href="/gimlet-cli/manifest-template"
                               class="{% if '/gimlet-cli/manifest-template' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                manifest template
                            </a>
                            <a href="/gimlet-cli/seal"
                               class="{% if '/gimlet-cli/seal' in page.url %}activeMenu{% else %}menu{% endif %} group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium rounded-md">
                                seal
                            </a>
                        </div>
                    </div>

                </nav>
            </div>
        </div>
        <div class="prose lg:prose-lg w-full pt-4 p-4 lg:pl-16">
            {{ content | safe }}
        </div>
    </div>
</main>
