<pre class="language-py"><code class="language-py"><span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">'Hello Tiltfile'</span><span class="token punctuation">)</span><br><br><span class="token comment"># Tell Tilt what YAML to deploy</span><br>k8s_yaml<span class="token punctuation">(</span><span class="token string">'app.yaml'</span><span class="token punctuation">)</span><br><br><span class="token comment"># Tell Tilt to create a port forward for a k8s resource</span><br>k8s_resource<span class="token punctuation">(</span><span class="token string">'frontend'</span><span class="token punctuation">,</span> port_forwards<span class="token operator">=</span><span class="token number">8080</span><span class="token punctuation">)</span></code></pre>
<pre class="language-diff"><code class="language-diff">print('Hello Tiltfile')<br><br># Tell Tilt what YAML to deploy<br>k8s_yaml('app.yaml')<br><br><span class="token inserted-sign inserted">+ # Tell Tilt what images to build from which directories<br>+ docker_build('companyname/app', 'app')<br></span><br># Tell Tilt to create a port forward for a k8s resource<br>k8s_resource('frontend', port_forwards=8080)</code></pre>
