<pre class="language-py"><code class="language-py"><span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">'Hello Tiltfile'</span><span class="token punctuation">)</span><br><br><span class="token comment"># Tell Tilt what YAML to deploy</span><br>k8s_yaml<span class="token punctuation">(</span><span class="token string">'app.yaml'</span><span class="token punctuation">)</span><br><br><span class="token comment"># Tell Tilt to create a port forward for a k8s resource</span><br>k8s_resource<span class="token punctuation">(</span><span class="token string">'frontend'</span><span class="token punctuation">,</span> port_forwards<span class="token operator">=</span><span class="token number">8080</span><span class="token punctuation">)</span></code></pre>
